<!DOCTYPE html>
<html>
    <body>
        <h2>
            Welcome to Flask Web Application
        </h2>
        <form action="/submit" method="post">
            <label for="Science">SCIENCE : </label>
            <input type="text" id="science" name="science" value="0"><br><br>
            <label for="Maths">MATHS : </label>
            <input type="text" id="maths" name="maths" value="0"><br><br>
            <label for="English">ENGLISH : </label>
            <input type="text" id="english" name="english" value="0"><br><br>
            <label for="Social">SOCIALSCIENCE : </label>
            <input type="text" id="social" name="social" value="0"><br><br>
            <input type="submit" value="submit">

        </form>


    </body>
</html>